* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 30;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background: url('/images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

header * {
  z-index: 1;
}

.container {
  max-width: 1028px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divided {
  max-width: 1028px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  height: 86px;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.sign-in a {
  background-color: #e50914;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.sign-in a:hover,
.unlimited-movies a:hover,
.faq a:hover {
  background: rgb(193, 17, 25);
}

/* Unlimited Movies */

.movies-container {
  display: flex;
  justify-content: center;
  height: calc(100% - 99px);
}

.unlimited-movies {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.unlimited-movies h1 {
  font-size: 3rem;
  font-weight: 900;
}

.unlimited-movies h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 16px;
}

.unlimited-movies p {
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.875rem;
}

.register {
  display: flex;
  align-items: center;
  max-width: 650px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 50px;
}

.register input {
  height: 52px;
  width: 69%;
  border-radius: 5px;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  border: 1px solid #636261;
  padding: 10px;
  padding-left: 15px;
}

.register input::placeholder {
  color: #b8b8b8;
}

.register a {
  background-color: #e50914;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1.5rem;
  font-weight: 500;
  width: 30%;
}

.line {
  height: 10px;
  background-color: rgba(35, 35, 35, 1);
}

.flex-container {
  display: flex;
  padding-top: 72px;
  padding-bottom: 72px;
  background: black;
}

.text {
  max-width: 48%;
}

.photo {
  max-width: 48%;
}

.photo img {
  max-width: 508px;
  width: 100%;
}

.text h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

.text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 16px;
}

.faq {
  padding-top: 72px;
  padding-bottom: 56px;
  background: black;
}

.faq-container {
  max-width: 1028px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.faq-container h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.question-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  font-size: 24px;
  width: 100%;
  height: 84px;
  background: #2d2d2d;
  margin-bottom: 5px;
  cursor: pointer;
}

.question-section:hover {
  background-color: #636060;
}

.plus {
  font-size: 48px;
}

.plus-rotate {
  transform: rotateY(180deg) rotate(45deg);
}

.ready {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.875rem;
}

footer {
  padding-top: 72px;
  padding-bottom: 72px;
  background: black;
}

.footer-container {
  max-width: 1028px;
  margin: auto;
}

.footer-container span a {
  font-size: 1.3rem;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
  font-size: 1rem;
}

.uzb {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin-top: 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.first-section,
.second-section,
.third-section {
  display: flex;
  width: 33%;
  flex-direction: column;
}

.first-section a,
.second-section a,
.third-section a {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.answer-section {
  text-align: left;
  padding: 24px;
  font-size: 24px;
  width: 100%;
  background: #2d2d2d;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  header {
    height: 80vh;
  }

  header::before {
    height: 80%;
  }

  .container {
    max-width: calc(100% - 64px);
  }

  .divided {
    max-width: calc(100% - 64px);
  }

  .faq-container {
    max-width: calc(100% - 48px);
  }

  .question-section {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
  }

  .footer-container {
    max-width: calc(100% - 64px);
  }

  .first-section a,
  .second-section a,
  .third-section a {
    font-size: 20px;
  }

  .uzb {
    font-size: 20px;
  }
}


@media (max-width: 960px) {

  header {
    height: 80vh;
  }

  header::before {
    height: 80%;
  }

  .logo img {
    width: 90px;
  }

  .header-container {
    height: 80px;
  }

  .unlimited-movies h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .unlimited-movies h2 {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .unlimited-movies p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .divided {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  .photo {
    max-width: 100%;
    margin-top: 3rem;
  }

  .text h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .text p {
    font-size: 1.125rem;
  }

  .order {
    flex-direction: column-reverse;
  }

  .faq-container {
    max-width: calc(100% - 48px);
  }

  .faq-container h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .question-section {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .ready {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .register {
    margin-bottom: 32px;
  }

  .register input {
    max-width: 69%;
    padding: 10px;
    padding-left: 15px;
  }

  .register a {
    padding: 10px 25px;
    max-width: 30%;
  }

  footer {
    padding: 32px;
  }

  .footer-container {
    max-width: 100%;
  }

  .first-section a,
  .second-section a,
  .third-section a {
    margin-bottom: 12px;
  }
}

@media (max-width: 690px) {
  .register {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .register input {
    margin-bottom: 15px;
  }

  .register a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 10px 10px;
    width: 100%;
  }

  .unlimited-movies h1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .unlimited-movies p {
    padding: 0 10px;
  }

  footer {
    max-width: 100%;
  }

  .links {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .hidden-section {
    display: none;
  }

  .first-section,
  .second-section {
    width: 40%;
  }
}

@media (max-width: 410px) {
  .register {
    max-width: 100%;
    width: 100%;
  }

  .register input {
    width: 100%;
  }

  .register a {
    width: 100%;
  }

  .links {
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
  }

  .first-section,
  .second-section {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    height: 60vh;
  }

  header::before {
    height: 60%;
  }
}